tenant_id          = "00000000-0000-0000-0000-000000000000"
subscription_id    = "00000000-0000-0000-0000-000000000000"
location           = "koreacentral"
resource_group_name = "rg-sl-hub-krc"
firewall_name       = "fw-sl-hub-krc"
firewall_subnet_id  = "/subscriptions/.../resourceGroups/rg-sl-hub-krc/providers/Microsoft.Network/virtualNetworks/vnet-sl-hub-krc/subnets/AzureFirewallSubnet"
public_ip_name      = "pip-fw-sl-hub-krc"
sku_tier            = "Standard"
common_tags = { env = "platform", department = "network", managed_by = "terraform", itsm_ticket = "CSR-FW" }
